In [1]:
import pandas as pd
import numpy as np

In [2]:
labels = ['a', 'b', 'c']
my_list = [10, 20, 30]
arr = np.array([10, 20, 30])
d = {'a':10, 'b':20, 'c':30}

In [6]:
pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [10]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [32]:
s1=pd.Series([1,2,3,4],['USA','Germany','USSR','India'])
s2=pd.Series([1,2,3,4],['USA','Germany','Italy','India'])

In [33]:
s1

USA        1
Germany    2
USSR       3
India      4
dtype: int64

In [34]:
s2

USA        1
Germany    2
Italy      3
India      4
dtype: int64

In [35]:
s1+s2

Germany    4.0
India      8.0
Italy      NaN
USA        2.0
USSR       NaN
dtype: float64

In [36]:
s2+s1

Germany    4.0
India      8.0
Italy      NaN
USA        2.0
USSR       NaN
dtype: float64

In [40]:
np.random.randn(5,4)

array([[-0.54361736, -0.83033288,  0.05301843, -1.29996725],
       [ 0.7687776 ,  1.09462628,  0.82463984,  1.09644662],
       [ 0.78024759,  2.34360036, -0.06215302,  0.90027971],
       [-0.37822299,  1.82568318, -1.02677863, -0.36697673],
       [-0.83795132,  0.52451655,  0.20356233,  0.9273361 ]])

In [46]:
df=pd.DataFrame(np.random.randn(5,4),index="A B C D E".split(),columns="W X Y Z".split())
df

          W         X         Y         Z
A  1.940166  0.717763 -1.018927 -0.696525
B  0.841389  0.245746  0.954715  0.469202
C  0.443442  1.360684 -1.469131  0.820788
D  0.239614 -0.901803 -2.102736  0.272316
E  0.904137  1.789710  0.322095  0.043086

In [47]:
df.iloc[[1,2,3],[1,2,3]]

          X         Y         Z
B  0.245746  0.954715  0.469202
C  1.360684 -1.469131  0.820788
D -0.901803 -2.102736  0.272316

In [49]:
df.loc[['A','B']]

          W         X         Y         Z
A  1.940166  0.717763 -1.018927 -0.696525
B  0.841389  0.245746  0.954715  0.469202

In [53]:
df.loc[['A'],['X']]

          X
A  0.717763

In [54]:
df

          W         X         Y         Z
A  1.940166  0.717763 -1.018927 -0.696525
B  0.841389  0.245746  0.954715  0.469202
C  0.443442  1.360684 -1.469131  0.820788
D  0.239614 -0.901803 -2.102736  0.272316
E  0.904137  1.789710  0.322095  0.043086

In [58]:
df['sum']=[1,2,3,4,5]
df

          W         X         Y         Z  sum
A  1.940166  0.717763 -1.018927 -0.696525    1
B  0.841389  0.245746  0.954715  0.469202    2
C  0.443442  1.360684 -1.469131  0.820788    3
D  0.239614 -0.901803 -2.102736  0.272316    4
E  0.904137  1.789710  0.322095  0.043086    5

In [59]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [60]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [68]:
df=pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.415481  1.920874
   2 -1.012618  1.443617
   3 -0.926808 -0.174001
G2 1  1.181768  1.539221
   2  0.033327 -0.139026
   3 -0.521348 -0.007257